# Unity
[Ll]ibrary/
Logs/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj*
*.csproj.user

# Compilados
*.exe
*.dll
*.pdb
*.so
*.apk
*.aab
*.ipa

# Sistema Operacional
.DS_Store
Thumbs.db

# Git
*.orig